<div
  class="bg-dark-blue flex flex-col items-center justify-between rounded-xl px-2 min-w-[360px] md:max-w-[460px] lg:max-w-[540px]"
>
  <div class="flex my-4 mx-4 max-w-[360]">
    <div>
      <img
        src="../../../assets/github_image.png"
        class="profile_image rounded-full w-[84px] md:w-32"
      />
    </div>

    <div
      class="profile_info ml-8 flex-col sm:md:flex-row max-w-[360px] justify-between lg:flex"
    >
      <div class="flex flex-col">
        <p class="text-light-gray">User Name</p>
        <p class="text-light-blue">@user</p>
        <span class="hidden md:flex justify-center text-left mt-8">
          <p class="text-light-gray">Lorem Ipsum is simply dummy text.</p>
        </span>
      </div>
      <div class="w-fit h-fit md:">
        <p class="text-light-gray">Joined 25 Jan 2011</p>
      </div>
    </div>
  </div>
  <span class="max-w-[300px] flex justify-center text-center md:hidden">
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
  </span>
  <div class="">
    <app-github-user-infos></app-github-user-infos>
  </div>
</div>
