:host
  ::ng-deep
  .form-field
  div.mat-input-wrapper.mat-form-field-wrapper
  .mat-mdc-form-field-infix {
  padding: 0px !important;
  display: flex !important;
}
input {
  border: none;
  outline: none;
  background-color: transparent;
}

.form {
  display: flex !important;
  align-items: center !important;
  width: 335px !important;
  flex-direction: row;
  padding: 0px !important;
}

.form-field {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 335px !important;
  border-radius: 12px;
  background-color: rgb(26, 38, 62);
}

.search-icon {
  color: rgb(0, 117, 247);
  background-color: blueviolet;
}

::placeholder {
  color: rgb(238, 238, 241);
  font-size: 14px;
  opacity: 1;
}

input:focus::placeholder {
  opacity: 0;
}

input,
select,
textarea {
  color: rgb(238, 238, 241);
}

.example-button-row {
  width: 30px;
  margin: 0 !important;
}

.example-button-row button {
  background-color: brown;
}
