input {
  border: none;
  width: 90%;
  height: 80%;
  position: absolute;
  margin-left: 30px;
  outline: none;
  background-color: transparent;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px !important;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 365px;
  border-radius: 12px;
  background-color: rgb(26, 38, 62);
}

.input-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

::placeholder {
  color: rgb(238, 238, 241);
  font-size: 16px;
  opacity: 1;
}

input:focus::placeholder {
  opacity: 0;
}
