<section
  class="bg-second-dark-blue flex items-center justify-center rounded-xl mb-8 md:min-w-[380px] lg:max-w-[540px]"
>
  <div class="flex flex-col items-center mx-6">
    <p class="text-light-gray">Repos</p>
    <p class="text-light-gray">8</p>
  </div>
  <div class="flex flex-col items-center mx-6 my-6">
    <p class="text-light-gray">Followers</p>
    <p class="text-light-gray">3938</p>
  </div>
  <div class="flex flex-col items-center mx-6">
    <p class="text-light-gray">Following</p>
    <p class="text-light-gray">9</p>
  </div>
</section>
